:root{
  --main-color:#f65c2a;
  --second-color:#f57f41;
  --black-color:#121517;
  --white-color:#ffffff;
}

.navbar{
    width: 100%;
    height: 4rem;
    background: var(--black-color);
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    justify-content: space-around;

    .logo{
        width: 11%;
        justify-content: center;
        img{
            width: 100%;
        }
    }

    .links{
        justify-content: space-between;
        width: 40%;
        letter-spacing: .1rem;
        color: var(--white-color);
        list-style: none;
        
        .link{
            font-weight: 600;
            color: var(--white-color);

            &:hover{
                color: var(--main-color);
            }
        }

    }

    .search{
        width: 30%;
        justify-content: space-around;
        padding: 1rem;

        .icon{
            cursor: pointer;
            padding: .3rem;
            color: var(--white-color);
            font-size: 2rem;
        }

        .btn{
            background: var(--main-color);
            font-size: 1.2rem;
            color: var(--white-color);
            border: .1rem solid var(--black-color);
            padding: .7rem 3rem;
            border-radius:.8rem ;
            -webkit-border-radius:.8rem ;
            -moz-border-radius:.8rem ;
            -ms-border-radius:.8rem ;
            -o-border-radius:.8rem ;
            box-shadow: 0 1px 5px #4e4d4d;
            cursor: pointer;

            a{
                text-decoration: none;
                color: var(--white-color);
            }
        }

        .user-details{
            justify-content: space-between;
            width: 70%;

            .user-name{
                color: var(--second-color);
                font-size: 1.1rem;
            }

            img{
                width: 3rem;
                height: 3rem;
                border: .2rem solid var(--main-color);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }

        

    }

    .mobile-menu-btn {
        display: none;
        cursor: pointer;
        .icon {
            color: var(--white-color);
            font-size: 2rem;
        }
    }
}

.home-section{
    position: relative;
    width: 100%;
    background-image: url('../media/9b30f2ea61a29ad6f18170d64f31f6136c8ca0cb.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9); 
    height: 34rem;

    &::before { 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 1;
    }


    .welcome-section{
        position: absolute;
        top: 9rem;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        z-index: 2;
        height: 100%;
        .slider-item{
            padding: 10px;
            height: 100%;

            .description{
                display: flex;
                height: 100%;
                align-items: center;
                gap: 20px;
                transition: all 0.5s ease;
                width: 100%;
                justify-content: center;
                margin: 1rem 2rem;

                .img{
                    margin: 1rem 3rem;

                    img{
                        max-width: 100%;
                        height: auto;
                        width:15rem;
                        border-radius: 1rem;
                        -webkit-border-radius: 1rem;
                        -moz-border-radius: 1rem;
                        -ms-border-radius: 1rem;
                        -o-border-radius: 1rem;
                    }  
                }
    
                .text-description{
                    width: 60%;
                    color: var(--white-color);
                    margin: 1rem 2rem;

                    h1{
                        margin-bottom:2.5rem ;
                    }

                    p{
                        margin-bottom:1.5rem ;
                    }

                    .list {
                        list-style: none; 
                        padding: 0;
                        margin: 0;
                        font-size: 1.5rem; 

                        p {
                            position: relative;
                            padding-left: 1.2rem; 
                            margin-right: 1rem; 
                        }

                        p::before {
                            content: "•"; 
                            color: var(--main-color); 
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            line-height: 1;
                        }

                    }
                }
            }

        }
        
    }

    .swiper-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        z-index: 2;
        top: 80%;

        .swiper {
            display: flex;
            gap: 15px;
            margin-bottom: 10px;

            span {
                font-size: 2rem;
                color: rgba(255, 255, 255, 0.5);
                cursor: pointer;
                transition: all 0.3s ease;
            }

            span.active {
                color: var(--main-color);
                transform: scale(1.3);
            }
        }

        
    }


    .quick-links-container{
        position: absolute;
        bottom: 0;
        right: 4%;
        left: 60%;
        z-index: 2;
        color: var(--white-color);
        justify-content: center;

        .quick-links{
            height: 4rem;
            width: 24rem;
            background: var(--main-color);
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            padding: 2rem;
            justify-content: space-between;

            .link-container{
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                .icon{
                    padding: .3rem;
                    font-size: 1.4rem;
                    width: 100%;
                }

                span{
                    font-size: .7rem;
                }
            }
        }
    }

    .search-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.3s ease;

        .search-box {
            width: 90%;
            max-width: 700px;
            position: relative;
            
            input {
                width: 100%;
                padding: 15px 50px 15px 20px;
                font-size: 1.2rem;
                border-radius: 30px;
                border: none;
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

                &:focus {
                    outline: 2px solid var(--main-color);
                }
            }

            .close-search {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                color: var(--main-color);
                font-size: 1.5rem;
                cursor: pointer;
                transition: color 0.2s ease;
                
                &:hover {
                    color: #d04500;
                }
            }
        }
    }

    .search-overlay.active {
        display: flex;
        opacity: 1;
    }


}

.slick-slide {
  height: auto !important;
}

.slick-slide > div {
  height: 100%;
}

.footer-section{
    width: 100%;
    background: var(--black-color);
    color: var(--white-color);
    flex-wrap: wrap;
    height: 8rem;
    padding: 1rem;
    border-top-right-radius: 2rem;
    border-top-left-radius:2rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    .logo{
        width: 20%;
        height: 70%;
        justify-content: center;
        align-items: start;
        img{
            width: 70%;
        }
    }

    .links-container{
        height: 90%;
        justify-content: end;
        width: 70%;
        .links{
            width:60%;
            list-style: none;
            flex-wrap: wrap;

            .aboutLinks,
            .navLinks,
            .onLinks{
                width: 75%;
                height: 70%;
                font-size: .8rem;
                padding: .5rem .3rem;
                justify-content: space-between;
                flex-wrap: wrap;
                .link{
                    color: var(--white-color);
                    cursor: pointer;
                }
                span{
                    width: 100%;
                }
            }

            .onLinks{
                justify-content: end!important;
                .icon{
                    font-size: 1.5rem;
                    padding: 0 .2rem;
                }
            }
        }

        .apps-logos{

            align-items: end;
            height: 100%;
            width: 35%;
            margin-bottom: 2rem;
            justify-content: space-around;
            li{
                cursor: pointer;
                font-size: .7rem;
                display: flex;
                justify-content: space-between;
                list-style: none;
                cursor: pointer;
                .icon{
                    cursor: pointer;
                    font-size: .8rem!important;
                }
                
                
            }
        }

    }

    
}

@media screen and (max-width:992px) {

    .home-section{
        height: 30rem;

        .welcome-section {
            top: 7rem;

            .slider-item .description {
                text-align: center;
                margin: 1rem;

                .img {
                    margin: 1rem;
                    img {
                        width: 12rem;
                    }
                }

                .text-description {
                    width: 80%;
                    margin: 1rem;

                    h1 {
                        font-size: 2rem;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        font-size: 1rem;
                    }

                    .list {
                        font-size: 1.2rem;
                        justify-content: center;
                    }
                }
            }
        }

        .quick-links-container {
            left: 50%;
            transform: translateX(-50%);
            right: auto;

            .quick-links {
                width: 20rem;
                padding: 1.5rem;
            }
        }
    }


    .navbar{
        .links{
            width: 50%;

            .link{
                font-size: .8rem;
            }
            
        }
    }
}

@media screen and (max-width: 768px) {
    .home-section{
        height: 28rem;

        .welcome-section {
            top: 5rem;

            .slider-item .description {
                .img img {
                    width: 10rem;
                }

                .text-description {
                    width: 90%;

                    h1 {
                        font-size: 1.8rem;
                    }

                    p {
                        font-size: 0.9rem;
                    }

                    .list {
                        font-size: 1rem;
                        flex-direction: column;
                        gap: 0.5rem;

                        p {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .quick-links-container {
            .quick-links {
                width: 18rem;
                height: 3.5rem;
                padding: 1rem;

                .link-container .icon {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .navbar {
        position: fixed;
        justify-content: space-between;
        padding: 0 1rem;
        
        .logo {
            width: 20%;
        }
        
        .links {
            position: absolute;
            top: 4rem;
            left: 0;
            width: 50%;
            height: 0;
            background: var(--black-color);
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
            transition: height 0.3s ease;
            z-index: 1010;
            
            &.mobile-menu-open {
                height: calc(100vh - 4rem);
            }
            
            .link {
                width: 100%;
                padding: 1rem 0;
                text-align: center;
                justify-content: center;
                font-size: 1rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                
                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
        
        .search {
            width: auto;
            .user-name {
                display: none;
            }
        }
        
        /* إظهار زر القائمة للجوال */
        .mobile-menu-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
        }
    }
}


@media screen and (max-device-width:576px){ 
    .home-section{
        height: 26rem;

        .welcome-section {
            top: 4rem;

            .slider-item .description {
                .img img {
                    width: 8rem;
                }

                .text-description {
                    h1 {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }

                    .list {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .quick-links-container {
            .quick-links {
                width: 16rem;
                height: 3rem;
                padding: 0.8rem;

                .link-container {
                    .icon {
                        font-size: 1rem;
                    }
                    span {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
    
    .footer-section{
        .logo{
            width:40% ;
        }

        .links{
            display: none;
        }
    }
}