*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
    /* max-width: 100%; */

}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

:root{
  --main-color:#f65c2a;
  --second-color:#f57f41;
  --black-color:#121517;
  --white-color:#ffffff;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar{
  display: none;
}

.flex{
  display: flex;
  align-items: center;
}

.section{
  margin-bottom: 5rem;
}

h1{
  font-size: 2rem;
  letter-spacing: .1rem;
}

p{
  font-size:1.5rem ;
}

span{
  font-size: .7rem;
}

@media screen and (max-width: 1000px) {
  /* .section {
    margin-bottom: 3rem;
    padding: 0 0.5rem;
  } */
  
  h1 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 0.9rem;
  }
}